@import "tailwindcss";
@keyframes orbit {

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}



@keyframes counter {

from{
transform:rotate(0deg);
}

to{
transform:rotate(-360deg);
}

}


.animate-orbit{

animation:orbit 25s linear infinite;

}


.animate-counter{

animation:counter 25s linear infinite;

}

@keyframes float {

0%,100%{
transform:translateY(0px);
}


50%{
transform:translateY(-25px);
}

}


.animate-float{

animation:float 4s ease-in-out infinite;

}